<div>
    <h2>
        <span jhiTranslate="plantATreeApp.application.home.title">Applications</span>
        <button class="btn btn-primary float-right create-application" [routerLink]="['/', { outlets: { popup: ['application-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="plantATreeApp.application.home.createLabel">
            Create new Application
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="applications">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="plantATreeApp.application.type">Type</span></th>
            <th><span jhiTranslate="plantATreeApp.application.placeLatitude">Place Latitude</span></th>
            <th><span jhiTranslate="plantATreeApp.application.placeLongitude">Place Longitude</span></th>
            <th><span jhiTranslate="plantATreeApp.application.plateText">Plate text</span></th>
            <th><span jhiTranslate="plantATreeApp.application.seedingDate">Seeding Date</span></th>
            <th><span jhiTranslate="plantATreeApp.application.event">Event</span></th>
            <th><span jhiTranslate="plantATreeApp.application.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let application of applications ;trackBy: trackId">
                <td><a [routerLink]="['../application', application.id ]">{{application.id}}</a></td>
                <td jhiTranslate="{{'plantATreeApp.TreeType.' + application.type}}">{{application.type}}</td>
                <td>{{application.placeLatitude}}</td>
                <td>{{application.placeLongitude}}</td>
                <td>{{application.plateText}}</td>
                <td>{{application.seedingDate | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'plantATreeApp.EventType.' + application.event}}">{{application.event}}</td>
                <td>
                    {{application.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../application', application.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'application/'+ application.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'application/'+ application.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
